<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.bblog.cunadmin.modules.system.mapper.SysMenuMapper">

    <select id="listByRoleId" resultType="vip.bblog.cunadmin.modules.system.entity.SysMenu">
        SELECT DISTINCT
            b.*
        FROM
            sys_role_menu a
            LEFT JOIN sys_menu b ON a.role_id IN
            <foreach collection="roleId" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
    </select>
</mapper>
